
* { box-sizing: border-box; }
    html, body { height: 100%; margin: auto 1rem; padding: 0; } 
    header, footer {
    padding: 1rem;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    max-width: 700px;
    background-color: #FFE9F3;
    color: #512D38;
    margin: 2rem auto;
    padding: 0;
}

a:link {
    color: #0b4947;
}
a:visited {
    color: #3d8871;
}
a:hover {
    color: #512D38;
}
a:active {
    color: yellow;
}

#navbar {
  width: 100%;
}
#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
#navbar li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#navbar li a, #navbar li a:visited {
  color: #0b4947;
  text-decoration: none;
  padding: 3px;
}

#navbar li a:hover {
  background-color: #512D38;
  color: pink;
  text-decoration: none;
}

#navbar li a:active {
  background-color: #512D38;
  color: yellow;
  text-decoration: none;
}